#hero{
    height:80vh;
    background-image:url("/static/img/porchbottles.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding:0px;
    

}
.screen{
    height:100%;
    width:100%;
    background-color:rgba(0, 0, 0, 0.5);

}
