body {
  margin: 0;
  padding: 0;
  font-family:'Raleway' sans-serif !important;
}
.row{

    overflow-y:auto;

}
#hero{
    height:80vh;
    background-image:url("/static/img/porchbottles.png");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    padding:0px;
    

}
.screen{
    height:100%;
    width:100%;
    background-color:rgba(0, 0, 0, 0.5);
    color:white;
    font-family:serif;
    letter-spacing:0.25em;

}


#logoImage{
    max-width:90px;
}
#homeNav{
    background-color:black;
    padding:15px;
    max-width:100vw;
    margin:0;
}
#homeNav a{
    color:white;
    font-family:serif;
}
.pad-60{
    padding-top:80px;
    padding-bottom:80px;
}
.p-6{
    
    padding-left:80px;
    padding-right:80px;
}
.slide{
    max-height:1000px;
    width:100%;
    font-family:serif;
}
#footer{
    background-color:grey;
    color:white;
    height:80px;
}
.datebox{
    background-color:#e8ecec;
    color:#333;
    height:64px;
    width:70px;
}
@media (max-width: 768px) {

    max-height:60vh;
}
